.projektiranje-box {
  width: 32%;
  height: 342px;
  background-size: cover;
  background-position: center;
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  h3 {
    position: absolute;
    background-color: rgba(0, 100, 170, 0.7);
    color: #fff;
    padding: 30px;
    padding-bottom: 40px;
    bottom: 50px;
    transition: background-color 0.3s;
    font-size: 16px;
    line-height: 23px;
    width: 80%;
  }
  &:hover {
    h3 {
      background-color: rgba(0, 100, 170, 1);
    }
  }
}

.wp-block-gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  figure {
    width: 24% !important;
    position: relative !important;
    flex-grow: 0 !important;
    margin-right: 1%;
    cursor: pointer;
    img {
      width: 100% !important;
      height: auto !important;
    }

    &:before {
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      content: "";
      opacity: 0;
      transition: opacity 0.6s ease;
      background-color: rgba(0, 100, 170, 0.4);
      background-image: url(../img/shutter.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}

.image-popup {
  display: none;
}

#image-popup {
  width: 100%;
  height: 100vh;
  background: rgba(11, 11, 11, 0.8);
  position: fixed;
  display: none;

  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;

  #nav-right,
  #nav-left {
    position: absolute;
    background-color: #0064aa;
    border-radius: 50%;
    background-size: 1rem;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    top: calc(50% - 122px);
    padding: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 506;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21%;
    transition: opacity 0.3s;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }

  &.no-nav {
    #nav-right,
    #nav-left {
      display: none;
    }
  }

  #nav-left {
    left: 10px;
    background-image: url(../img/arrow-left-white.svg);
  }

  #nav-right {
    right: 10px;
    background-image: url(../img/arrow-right-white.svg);
  }

  &.no-nav {
    #nav-left,
    #nav-right {
      display: none;
    }
  }

  #image-popup-center {
    width: 800px;
    height: 611px;
    max-width: calc(100% - 40px);
    position: relative;
    #image-popup-close {
      cursor: zoom-out;
      color: white;
      position: absolute;
      right: 0px;
      text-align: right;
      padding-right: 6px;
      width: 100%;
      font-size: 38px;
      top: -29px;
    }

    img {
      width: 100%;
      margin-top: 10px;
    }
  }
}
.locations-content {
  padding: 40px 0px;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 39px;
    margin-bottom: 40px;
  }
  form {
    padding: 3px 20px;
    input[type="submit"] {
      margin: auto;
      color: white;
      padding: 7px 20px;
      display: inline-block;
      width: auto;
      margin-top: 10px;
      font-size: 15px;
      margin-bottom: 20px;
      margin-left: 196px;
    }
    input[type="text"] {
      width: 980px;
      margin: auto;
      border: 1px solid rgba(194, 194, 194, 0.7);
      color: #333;
      padding: 10px;
      display: block;
      font-size: 15px;
    }
    select {
      width: 980px;
      margin: auto;
      border: 1px solid rgba(194, 194, 194, 0.7);
      color: #333;
      padding: 10px;
      display: block;
      font-size: 15px;
    }
  }
}
.map-wrapper {
  margin-bottom: 20px;
}
.store {
  border: 1px solid rgba(194, 194, 194, 0.7);
  border-top: none;
  border-left: none;
  padding: 15px;
  width: 24%;
  margin-right: 1%;

  > div {
    width: 100%;
    height: 261px;
    background-size: 102%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f9112a;
  }
  h3 {
    background-color: #ed1c24;
    color: #fff;
    padding: 7px 10px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  p {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    padding: 8px 10px;
    line-height: 24px;
  }
}
.gm-style .gm-style-iw-c {
  box-shadow: none !important;
  padding: 20px !important;
  min-width: 240px !important;
  padding: 20px;
  border-bottom: 8px solid #ed1c24;
  height: auto;
  background-color: #fff;
  box-shadow: none;
  font-family: "Rubik", sans-serif;
  padding-bottom: 0 !important;
}
#marker {
  h3 {
    text-align: left;
    font-weight: 500;
    color: #ed1c24;
    margin-bottom: 5px;
    font-family: "Rubik", sans-serif;
    font-size: 17px;
  }
  h4 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
  }
  p {
    font-size: 14px;
    margin: 0;
    font-family: "Rubik", sans-serif;
    margin-bottom: 5px;

    span {
      font-weight: 600;
    }
  }
  div {
    margin-bottom: 15px;
  }
  a {
    display: inline-block;
    padding: 10px 19px;
    background: #ed1c24;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
  }
}
@media only screen and (max-width: 1000px) {
  .store {
    width: 50%;
    margin: 0;

    > div {
      width: 314px;
      height: 261px;
      background-size: 102%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #f9112a;
    }
  }

  .locations-content {
    form {
      input[type="submit"] {
        margin-left: 0px;
      }
      input[type="text"],
      select {
        width: 100%;
      }
    }
  }
}
