:root {
  --purple: #652d91;
  --pink: #cf167c; 
  --orange-pink:#EC5070;
  --peach:#FF855A;
  --light-orange:#FFBF53;  
}

body,button {
  font-family: 'Asap', sans-serif;
  color: #1a1a1d;
}

a {
  text-decoration: none;
}

p {
 
  line-height: 23px;
}

.flex,.row {
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}

.container {
  padding:0px 30px;
}

h1 {
  font-size: 80px;
  font-weight: 500;
}

@media only screen and (max-width: 1400px) {
  .container {
    padding:0px 20px;
  }
 
}

@media only screen and (max-width: 750px) {

  h1 {
    font-size: 60px;
  }
  .page-title {
    &:before,
    &:after {
      display: none;
    }
  }
}
