.single-jobs {
    .top-bar {
        height:200px;
        background: #4b464e;
        h1 {
            padding-top:30px;
            color:#FFF;
            font-size:35px;
        }
        h4 {
            background: red;
            color: #FFF;
            display: inline-block;
            padding: 5px 6px;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 10px;
            margin-top: 50px;
            float: right;
        }
        p {
            color: #FFF;  
            font-size: 13px;
            text-align: right;
        }
       
    }
}